* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: burlywood;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.nav__brand {
  margin-left: 1rem;
}

.nav__btns {
  margin-left: auto;
  display: flex;
}

.nav__btns > * {
  padding: 1rem;
}
